@model WebApplication1.Models.ViewModels.ListOfAssignees
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>List of assignees</title>
</head>
<body>
    <h1>List of assignees:</h1><br />
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Email</td>
        </tr>

        @foreach (var item in @Model.AssigneeS)
        {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Email</td>
        <td><a href="@item.Id/delete">Delete</a></td>
        <td><a href="@item.Id/update">Edit</a></td>
    </tr>
        }
    </table>

</body>
</html>